.question-header{
    height: .36rem;
    font-size: .12rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.question-header-avatar{
    flex: 1;
}
.question-header-avatar img {
    width: .24rem;
    height: .24rem;
    border-radius: 100%;
}
.question-header-status{
    float: right;
}